/** TOGGLE STATES **/
.claims-sidebar-content{
  transition: 0.5s ease-in-out all;
  display: none;
  &.svc-show-content{
    display: block;
  }
}

.svc-sr-only{
  display: none;
}

[class*="-caret"]{
  background-image: url(../img/chevron-forward-white.svg);
  background-repeat: no-repeat;
  display: inline-table;
  height: 24pt;
  margin: 0 5pt;
  position: absolute;
  right: 0.5em;
  transition: 0.5s ease-in-out all;
  width: 24pt;
}

.expand [class*="-caret"]{
  background-image: url(../img/chevron-down-white.svg);
}


/** TOGGLE STATES **/
.claims-init-feat{
  transition: 0.5s ease-in-out all;
  margin: 0 0 2em 0;

  p a{
    color: $lite-blue;
    display: block;
    margin: 2em 0;
    min-width: 200pt;
    padding: 1em 0;
    position: relative;
    text-align: center;
    text-decoration: none;
  }

  .claims-content-sidebar{
    background-color: $grey-20;
    margin: 0;
    padding: 1em;
    h2{
      background-color: $grey-60;
      color: $white;
      padding: 0.5em 0.25em;
    }
    .claims-sidebar-content{
      padding: 1em 0.25em;
      p{
        color: $grey-60;
        margin: 0 0 0.5em 0;
        strong{
          color: $blue;
          font-size: 1.2em;
          display: block;
          line-height: 1.5;
        }
      }
    }
  }

  .svc-field-title{
    color: $grey-90;
    display: block;
    font-weight: $bold-font;
    margin-top: 2em;
  }
  .claims-content-body{
    padding: 1.1em;
    .claims-dispute-type-body{
      > p{
        color: $grey-60;
        margin: 0 0 1em 0;
      }
    }
    form {

      textarea, input[type=text], input[type=date] {
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 4pt;
        margin: 1em 0 1.2em 0.5em;
        padding: 1em;
        width: 215pt;
      }

      p.claims-radio:first-child{
        top: 1em;
      }
      p.claims-radio{
        color: $grey-80;
        margin: 1.5em 0;
        position: relative;
        input{
          max-width: 2em;
        }
        label{
          bottom: 0.35em;
          left: 0.5em;
          position: relative;
        }
      }
      &.claims-qualifier-form{
        .svc-padding-element{
          margin: 0.5em 0;
          .svc-field-title{
            color: $grey-90;
            font-size: 1.1em;
            display: block;
            margin: 0 0 .5em 0;
          }
          p.claims-radio{
            float: left;
            width: 100%;
            input{
              float: left;
              top: 0.75em;
              z-index: 1;
            }
            label{
              display: block;
              float: left;
              left: 0.5em;
              position: relative;
              top: 4pt;
              width: 85%;
            }
          }
        }
      }
      .svc-button-margin{
        top: 2em;
        position: relative;
      }
    }
  }
}

/* MEDIA CONSTRAINTS */
@media( max-width: 576px){
  .claims-init-feat{
    .claims-content-body{
      form{
        textarea, input[type=text], input[type=date] {
          width: 85%;
        }
      }
    }
  }
}
